.DS_Store
Thumbs.db
coverage
Desktop.ini
node_modules
package-lock.json
.nyc_output
._*
.\#*
\#*\#
*~
*.log
*.lock
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
/test.*

# Project-specific
*.eot
*.ttf
*.woff
*.zip
/tmp/
/woff2/
/charmap.html
/staged
